.main-container{
.content-card{
  position: relative;
  display: flex;
  flex-direction: inherit;
  min-width: 0;
  word-wrap: break-word;
  background-color:var(--white);
  background-clip: border-box;
  border: transparent;
  border-radius: 0.25rem;
  justify-content: space-around;
  align-content: center;
  span.card-title{
    padding: 8px 0 0 10px;
    font-size: 18px;
    font-weight: bold;
  }
  .card-body{
    span.content-text{
      padding: 6px 0 24px 0;
      border-radius: 8px;
      display: inline-flex;
      justify-content: space-between;
      line-height: 1.3;
    }
  }
  .card-img-top{
    width: 100px;
    height: 100px;
  }
}
  .card-footer{
    background: var(--white);
  }
}
.content-container{
  .footer-header{
    font-size: 18px;
    font-weight: bold;
  }
    button.card-button{
      background: var(--white);
      .card{
        border: transparent;
        min-width: 200px;
        padding: 20px;
        .card-body{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-content: center;
          align-items: center;
          .button.btn-primary{
            width: 100%;
            margin-top:15px;
          }
        }
      }
    }
  .default-style{
    border: 2px solid var(--black);
    &:hover{
      border-color: var(--border);
      @include animates(var(--animate));
    }
  }
}

